/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-ene-2021, 0:41:11
    Author     : User
*/
section {
    height: 20%;
}

.grid-container {
    padding: 10px;
    margin:20px;
    display: grid;
    background-color: white;
    grid-template-columns: 30% 22% 22% 20%;
    grid-template-rows: 10% 15% 50% 20%;
    gap: 10px 10px;
    grid-template-areas:
        "fotoG titulo titulo categoria"
        "fotoG precioAntes precioAhora tienda"
        "fotoG descripcion descripcion descripcion"
        "fotoG autor autor button";
    -webkit-box-shadow: 2px 2px 16px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 16px 2px rgba(0,0,0,0.75);
box-shadow: 2px 2px 16px 2px rgba(0,0,0,0.75);
}
.fotoG { grid-area: fotoG; }
.descripcion { grid-area: descripcion;  font-size: 17px;  font-family: Arial, Helvetica, sans-serif;}
.autor { grid-area: autor; }
.button { grid-area: button; }
.precioAntes { grid-area: precioAntes; font-size: 17px; text-decoration: line-through; color: grey;}
.precioAhora { grid-area: precioAhora; font-size: 17px; color: orangered;font-weight: bold;}
.precioAhora::before {
  font-size: 17px;font-weight: bold;color:black;
  content: "Precio en oferta:  ";
}
.precioAhora::after {
  font-size: 17px; color: orangered;font-weight: bold;
  content: " €";
}

.precioAntes::before {
  content: "Precio:  ";
}
.precioAntes::after {
  content: " €";
}

.tienda { grid-area: tienda; }
.titulo { grid-area: titulo; font-size: 20px;}
.categoria { grid-area: categoria; }

.fotoGrid {
    height: 100%;
    width: 100%;
}
.fotoG img{
    height: auto; width: 100%;
}
.botonI {
    border: none;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    background-color: orange;
    outline: none;
    height: 100%;
}

.botonI:hover {
    background-color: #777;
}