.gridC {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 0.1fr;
    gap: 0px 0px;
    grid-template-areas:
        "btnProducto btnChollo";
}
.btnProducto { grid-area: btnProducto; }
.btnChollo { grid-area: btnChollo; }

/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 100%;
}

.tablink:hover {
    background-color: #777;
}

.ip4{
    border-radius: 25px;
    border: 2px solid #ffcc00;
    padding: 20px;
    width: 30%;
    font-size: 18px;
}

.btnProducto2{
    background-color: rgba(248,181,0,1) ;
    border-radius: 5px;
    width: 30%;
    color: white;
    font-size: 15px;
}