

/*LOGIN*/

body{
    background: rgb(249,129,196);
    background: linear-gradient(90deg, rgba(249,129,196,1) 0%, rgba(249,129,234,1) 57%, rgba(255,0,116,1) 100%);
}

#ventanaLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); 

    border-top-left-radius: 40px 40px;
    border-top-right-radius: 40px 40px;
    border-bottom-right-radius: 40px 40px;
    border-bottom-left-radius: 40px 40px;

    padding: 3em;

    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%; 

    text-align: center;

}

#ventanaLogin figure{
    margin: 0;
    padding: 0;
}

#ventanaLogin img{
    width: 25em;
    margin-bottom: 2em;

}

#ventanaLogin form input{
    margin: 0.5em;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

.inputLogin{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0em;
}

#ventanaLogin form figure{
    margin: 0;
    padding: 0;
}

#ventanaLogin form figure img{
    width: 2em;
    margin: 0;
}

.boton{
    align-items: center;
    margin: 0;
    padding: 0;
}

.boton input{
    background-color: rgba(166, 8, 87, 1);
    font-weight: bold;
    font-size: 1.3em;
    color: white;
    border: none;

    cursor: pointer;

    border-width: 0.12em; 
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    border-style: solid;
    border-color: white;
    padding-top: 0.1em;
    padding-bottom: 0.1em;

    text-align: center;

    margin: auto;
    width: 100%;

}

.boton input:hover{
    background-color: white;
    color: rgba(166, 8, 87, 1);
    border-color:  rgba(166, 8, 87, 1);
}


form .boton{
    margin: 0;
    padding: 0;
}

form {
    width: 22em;
}

#password
{
    margin-bottom: 1.5em;
}

a{
    color: blue;
    text-decoration: none;
    margin: 0;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: blue;
}

@media only screen and (max-width: 1200px){



    #ventanaLogin img{
        width: 20em;
        margin: 0;
    }
    
    .boton input{
        width: 80%;
        margin: 0;
        padding: 0;
    }

}


