/*ESTILO DEL PERFIL DE USUARIO*/

#perfilZonaSuperior{
    display: flex;
    flex-direction: row;
    margin: 1.5em;
    margin-left: 0;
}

#datosUsuario{
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    background-color: white;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    border-color: #A60857;
    border-style: solid;
    border-width: 0.1em;
}

#imgPerfil figure{
    margin: 2em;
    padding: 0;
}

#imgPerfil img{
    width: 8em;
    height: 8em;
    margin: 0;
    padding: 0;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

#nombre{
    margin-top: 2.9em;
}

#nombre p{
    margin: 0.2em;
    text-align: center;
}

#nombreUsuario{
    font-size: 2em;
    font-weight: bold;
    color: #A60857;
}

#ajustes figure{
    margin: 2em;
    padding: 0;
}

#ajustes img{
    width: 2.5em;
    margin: 0;
    padding: 0;
}

#estadisticas{
    flex: 1 1 auto;
    background-color: white;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    margin-left: 2em;
    border-bottom-left-radius: 10px 10px;
    border-color: #A60857;
    border-style: solid;
    border-width: 0.1em;
}

#estadisticas h2, #estadisticas h3, #estadisticas p{
    text-align: center;
    font-size: 1.3em;
}

#estadisticas h2{
    font-size: 1.8em;
    font-weight: bold;
    color: #A60857;
}

#conjuntoEstadisticas{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.datoEstadistica{
    margin-right: auto;
    margin-left: auto;
}

#panelAdministracion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1{
    color: #A60857;
}

#subirProducto{
    border-top-color: #A60857;
    border-top-style: solid;
    border-top-width: 3px;
    padding: 2em;
    padding-left: 0; 
}

#subirProducto form{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -2em; 
    padding-left: 0; 

    margin: auto;
}

#subirProducto form .chollo_nuevo{
    margin: 1em;
    flex: 0 0 25em;
    background-color: white;
    border-color: #A60857;
    color: #A60857;
    border-style: solid;
    border-width: 0.01em;
    font-size: 1.2em;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;


    text-align: center;
    justify-content: center;

    padding: 2em;
    margin-top: 1em;
}

#subirProducto form .chollo_nuevo p{
    font-size: 1.1em;
}


#subirProducto form #botonSubirChollo{
    border: none;
    margin: auto;
    justify-content: center;
    text-align: center;
}

input[type="text"], select {
    border-color: #A60857;
    border-style: solid;
    border-width: 0.1em;
    font-size: 1.5em;
    color: #A60857;
    padding: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-left: 0.5em;
    border-top-left-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
}

#subirProducto form .chollo_nuevo figure img{
    width: 20em;
}

@media only screen and (max-width: 1200px){
    #perfilZonaSuperior{
        flex-direction: column;
    }

    #datosUsuario{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #imgPerfil figure{
        margin: 0;
        margin-top: 0.8em;
        margin-bottom: 0.5em;
        padding: 0;
    }

    #nombre{
        margin: 0;
        padding: 0;
    }

    #nombreUsuario{
        font-size: 1.5em;
    }

    #ajustes figure{
        margin: 0;
        padding: 0;
    }

    #conjuntoEstadisticas{
        flex-direction: column;
    }

    #estadisticas{
        width: 100%;
        margin: 0;
        margin-top: 3.5em;
    }

    #estadisticas h2, #estadisticas h3, #estadisticas p{
        font-size: 1.3em;
    }

    #estadisticas h2{
        font-size: 1.4em;
    }
}
