.boton{
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 1em;
}

h1{
    margin: 0;
    padding-top: 3em; 
    font-size: 4em;
    color: #900857;
    text-align: center;
    font-weight: bold;
}

main{
    padding: 5em;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main form{

    margin: 2em;

    padding: 2em;
    padding-top: 1em;

    border-style: solid;
    border-color: #A60857;
    border-width: 0.1em;

    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
}

#fotoPerfilActual{

    padding: 0;
    text-align: center;
}

#imgActual{

    width: 10em;
    height: 10em;
    
    margin: auto;

    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

h3{
    font-size: 1.5em;
    text-align: center;
}

.label{
    font-size: 1.2em;
    text-align: left;
}

.textInput{
    width: 15em;
    height: 2.5em;
    
    color: #900857;
    font-size: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    border-style: solid;
    border-color: #A60857;
    border-width: 0.1em;
    
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    
    margin-bottom: 0.30em; 
}

.tituloAjustes{
    padding-left: 45em;
    padding-right: 45em;
}


